body {
    background-color: pink;
}

h1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.imgBox {
    padding: 30px;
}

img {
    width: 250px;
    height: auto;
}

.container {
    margin: 20px;
}
